/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased
}

img {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  appearance: none;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

fieldset,
input {
  border: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.image_section {
  flex: 1;
  overflow: hidden;
}

.image_section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 65%;
}

.form_section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.form_section .logo {
  width: 180px;
  margin-left: -8px;
  margin-bottom: 20px;
}

.form_section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.login_form,
.signup_form,
.logo-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

input {
  color:#333;
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border-bottom: 2px solid #000;
  margin-bottom: 10px;
}

input:focus {
  outline: none;

}

button {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #000;
  color: #fff;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #333;
}

p {
  font-size: 1rem;
  /* margin-top: 20px; */
  text-align: center;
}

p span {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  /* transition: font-weight 0.3s ease; */
}

p span:hover {
  /* font-weight: 600; */
  text-decoration: none;
}

/* ...existing code... */

@media screen and (max-width: 768px) {
  .image_section {
    display: none;
  }

  .form_section {
    flex: 1;
    padding: 30px;
  }

  .form_section h2 {
    font-size: 2rem;
  }

  .login_form,
  .signup_form,
  .logo-container {
    max-width: 100%;
  }
}