/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased
}

img {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

fieldset,
input {
  border: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex: 1
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  border-bottom: 2px solid #000;
  padding: 20px 0;
}

.logo {
  width: 100px;
}

.logout {
  cursor: pointer;
}

.logout:hover {
  color: #999;
}


main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

section {
  max-width: 545px;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

form {
  gap: 10px;
}

form input {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid #000;
}

form input:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;

}

form button {
  padding: 8px;
  background-color: #000;
}

button .add-icon {
  filter: brightness(0) invert(1);
  
}

button:hover .delete-icon,
button:hover .add-icon {
  transform: scale(1.2);
}

ul li {
  border: 2px solid #000;
  padding: 0px 20px;
  margin-block: 10px;
  justify-content: space-between;
}


.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.todo-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.todo-text {
  padding: 10px 0px;
  flex-grow: 1;
  font-size: 1.2rem;
  color: #333;
  overflow-wrap: break-word;
  text-wrap: balance;
}


ul li input[type="checkbox"]:checked ~ .todo-text {
  text-decoration: line-through;
  color: #999;
}

.bottom-items {
  padding: 20px;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  align-items: baseline;
}

.items-left {
  margin-right: 80px;
}

.filter {
  margin-right: 40px;
  /* gap: 10px; */
}

.filter input[type="radio"] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}

.filter label {
  cursor: pointer;
  padding: 0 10px;
}

.filter label:hover {
  color: #999;
}

.filter input[type="radio"]:checked ~ span {
  color: #ccc;
}

.clear {
  cursor: pointer;
  transition: color 0.2s ease;
}

.clear:hover {
  color: #999;
}

footer p {
  margin-top: auto;
  padding: 20px 0;
  text-align: center;
}

@media screen and (max-width: 390px) {
  .bottom-items {
    padding: 20px 20px 20px 0px;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    align-items: baseline;
    flex-direction: column;
    gap: 10px;
  }

  .items-left {
    margin-right: 20px;
  }

  .filter {
    margin-right: 0px;
    /* gap: 10px; */
  }

  .filter label:first-of-type{

    padding: 0 0px;
  }
}